* { box-sizing: border-box; }

body {
    font-family: 'Cardo', serif;   
    padding: 0px;
    background: url("http://cdn.audubon.org/cdn/farfuture/bsc4kFhQ_Ka0_Oy7o3i38FsLf-Qo6rbVKfueDdHJgY4/mtime:1486682364/sites/default/files/styles/wysiwyg_slide/public/001_a1_2474_2_snowy-egret_peter_brannon_kk.jpg?itok=oUcnHvMy") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black
}

#home-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem
}

h1 {
    color: rgb(42, 99, 99);
    font-weight: normal
}

#home-search {
    border: solid gray 1px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 5px
}

#home-button {
    border: solid gray 1px;
    height: 30px;
    border-radius: 5px
}

#list-screen {
    display: flex;
    justify-content: center;
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.75;
}

ul {
    list-style-type: none;
}

#bird-and-map {
    display: flex;
    flex-direction: row;
}

#description-container {
    width: 46%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
}

h2, h4 {
    font-weight: normal
}

#pd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#species-pic {
    width: 46%;
    height: 50%;
    border-radius: 25px;
    border: 2px solid rgb(42, 99, 99);
}

#taxonomy {
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid rgb(42, 99, 99);
    background: rgb(247, 244, 244);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#species-name {
    font-size: 17px;
    /* color: white; */
    margin: 4px;
    display: flex;
    border-bottom: 2px solid rgb(42, 99, 99);
    margin-left: 0px;
    margin-right: 0px;
    background: solid rgb(42, 99, 99)
}

li {
    list-style-type: none;
}

.taxonomy-info {
    font-size: 15px;
    margin: 4px;
    display: center;
    align-self: flex-start
}

#back-to-list {
    margin: 4px;
    display: flex;
    align-self: center
}

#comments-section {
    width: 100%;
    height: 46%;
    border-radius: 25px;
    border: 2px solid rgb(42, 99, 99);
    background: rgb(247, 244, 244);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center
}

#map {
    height: 500px;
    width: 46%;
    margin: 2%;
    border: 2px solid rgb(42, 99, 99);
    border-radius: 25px
   }
